
 
 @{
    ViewData["Title"] = "Home Page";
}

   
<div class="text-center">
    <h1 class="display-4">Leigos</h1>
  
    <p>Conectado em você! <!---<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.---></p>
    
</div>
   <p> Conectando quem precisa com quem sabe fazer</p>

 <div class="align-content-center">
     <h3>Todas as categorias de serviços</h3>

 </div>
    